/* 
 * Magazine CSS
 * v. 1.0.1
 */

/*
Responsive styles can be applied via '.smartphone', '.tablet', '.portrait' & '.landscape' classes.
These classes are automatically applied and manipulated on <body> by Foundation.
*/

body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 150%;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -1px;
}

h1.post-title,
h2.post-title {
    line-height: 1.3;
    font-size: 24px;
	padding-bottom: 0.5em;
	overflow: hidden;
	font-weight: normal;
	font-style: normal;
}

#content h1,
#content h2 {
	line-height: 1.3;
	margin: 0;
}

h1, h2 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

p {
	margin: 1em 0;
}

/* Header */

#header a,
#header h1,
#header div {
	color: rgba(0,0,0,.9);
	text-shadow: rgba(255,255,255,.2) 0px 1px 0px;
}

header {
	opacity: 1;
	padding: 0;
	margin:0;
	position: relative;
	z-index: 4;
	overflow: hidden;
	height: 60px;
}

header a.header-center {
	display: block;
	margin: auto;
	padding: 0;
	text-align: center;
}

header .header-logo {
	overflow: hidden;
	max-height: 160px;
}

header h1 {
	margin: 0;
	padding: 0 60px 0 20px;
	font-size: 1.375em;
	font-weight: 300;
	font-style: normal;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

header h1.has-menu {
	padding-right: 20px;
}

header h1 a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	color: #222;
}

header img {
	display: block;
	position: relative;
	max-width: 100%;
	height: auto;
}

#header-nav {
	position: relative;
}

#menu-toggle {
	position: absolute;
	display: block;
	top: 10px;
	right: 10px;
	width: 22px;
	height: 40px;
	padding: 0 9px;
    background: transparent;
}

.button-toggle {
    background-color: rgba(0,0,0,.8);
    content: "";
    display: block;
    height: 2px;
    left: 9px;
    opacity: 1;
    position: absolute;
    top: 20px;
    transition: opacity 0.3s ease 0s, background 0.3s ease 0s;
    width: 22px;
    z-index: 20;
}

.button-toggle::before {
    content: "";
    height: 2px;
    width: 22px;
    left: 0;
    top: -7px;
    position: absolute;
    transform-origin: center center 0;
    transition: transform 0.3s ease 0s, background 0.3s ease 0s;
    background-color: rgba(0,0,0,.8);
}

.button-toggle::after {
    content: "";
    height: 2px;
    width: 22px;
    left: 0;
    bottom: -7px;
    position: absolute;
    transform-origin: center center 0;
    transition: transform 0.3s ease 0s, background 0.3s ease 0s;
    background-color: rgba(0,0,0,.8);
}

#menu-toggle.touched .button-toggle,
#menu-toggle.touched .button-toggle:before,
#menu-toggle.touched .button-toggle:after {
	background-color: rgba(0,0,0,.3);
}

.login-link {
	padding-left: 12px;
}

.login-link i {
	margin-right: 5px;
}

#menu {
	display: none;
	position: absolute;
	top: 0;
	z-index: 3;
	right: 0;
	left: 0;
	text-align: left;
}

#wptouch-search-inner {
	background: transparent;
	text-align: center;
	padding: 5px 0;
}

#wptouch-search-inner input[type="text"] {
	width: 65%;
	-webkit-appearance: none;
	border: 0;
	padding: 6px;
	background-color: #fff;
	font-size: 90%;
}

#wptouch-search-inner input[type="text"]:focus {
	border: 0;
}

#wptouch-search-inner input[type="submit"] {
	border: none;
	padding: 6px 10px 5px;
	-webkit-appearance: none;
	background-color: rgba(0,0,0,.8);
	color: rgba(255,255,255,1);
	font-size: 95%;
	vertical-align: bottom;
}

#search-dropper {
	overflow: hidden;
	max-height: 50px;
	-webkit-transition: max-height 400ms ease;
	border-bottom: 1px solid rgba(0,0,0,.08)
}

#search-dropper.toggled {
}

.touched {
	background-color: rgba(0,0,0,.1);
}

/* Slider */

#slider {
	background: rgba(0,0,0,.85);
	text-shadow: rgba(0,0,0,.1) 0px 1px 1px;
}

.swipe-wrap > div {
	height: 220px;
	overflow: hidden;
}

#slider p {
	background: none;
}

#slider a p.featured-date {
	color: #999;
	font-size: 80%;
	top: 15px;
	display: block;
	text-align: left;
	left: 100px;
	text-shadow: none;
	text-transform: uppercase;
}

#slider a p.heading-font {
	position: absolute;
	top: 30px;
	left: 100px;
	text-align: left;
	text-shadow: rgba(0,0,0,.2) 0px 1px 0px;
	letter-spacing: -1px;
	font-weight: normal;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	padding-right: 5%;
	margin: 3px 0 0;
	font-size: 160%;
	line-height: 115%;
	height: 5.3em;
}

#slider a p.heading-font:after {
	content: "\f105";
	margin-left: 8px;
	top: 2px;
	position: relative;
	font-family: FontAwesome;
}

.landscape #slider a p.heading-font,
.landscape #slider a p.featured-date {
	left: 160px;
}

#slider .comments-number {
	display: block;
	position: absolute;
	z-index: 1;
	top: 5px;
	left: 50px;
	text-align: center;
	width: 18px;
}

#slider .comments-number span {
	color: white;
	z-index: 3;
	position: relative;
	font-size: 95%;
	font-weight: bold;
	margin-left: -25%;
	top: 6px;
}

#slider .comments-number:after {
	content: "\f075";
	display: block;
	font: 36px 'FontAwesome', sans-serif;
	position: absolute;
	top: 0;
	left: -60%;
}

ul.dots {
	top: 180px;
	right: 0;
	left: 0;
	height: 20px;
}

.landscape ul.dots {
	top: 230px;
}

#slider img {
	-webkit-filter: blur(2px) saturate(200%);
	opacity: .2;
}

#slider img.clone {
	width: 210px;
	height: 210px;
	position: absolute;
	top: 5px;
	left: -90px;
	-webkit-box-reflect: none;
	-webkit-filter: saturate(100%);
	opacity: 1;
}

/* Need this because the setting for featured grayscale is overridden by the above */

#slider.grayscale img {
	-webkit-filter: saturate(100%) grayscale(1) contrast(1.1);
}

/* Posts Loop */

.posts-loop .post {
	padding: 0 20px;
	margin: 20px auto;
	color: rgba(0,0,0,0.7);
}

.posts-loop .post i.arrow {
	font-size: 34px;
	position: absolute;
	right: 3%;
	top: 50%;
	margin-top: -18px;
}

.posts-loop .post-date-author {
	color: rgba(0,0,0,.5);
	display: block;
	font-size: 0.750em;
	text-transform: uppercase;
	line-height: 1.4;
	margin-bottom: 0.5em;
}

.posts-loop .bottom-border {
	border-bottom: 1px solid rgba(0,0,0,.05);
	display: block;
	margin: 20px 0;
	clear: both;
}

.posts-loop .post-thumbnail-container {
	width: 100px;
	height: 100px;
	float: right;
	margin: 0 0 1em 1em;
}

.posts-loop .post-thumbnail-container img {
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: auto;
}

.loop-link {
	display: block;
	position: relative;
	min-height: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.more-link {
	display: none;
}

/* Featured Posts */

.posts-loop .featured-post h2.post-title {
	display: block;
	padding-bottom: 0.25em;
}

.posts-loop .featured-post .post-thumbnail-container {
	width: 100%;
	max-width: 100%;
	height: auto;
	float: none;
	margin: 0 auto 10px;
}

.posts-loop .featured-post .post-thumbnail-container img {
	margin: 0;
	display: block;
	max-width: 100%;
	height: auto;
}

.posts-loop .featured-post .more-link {
	display: block;
	margin-top: 0.5em;
}

/* Comment Bubble */

.loop-link .comments {
	position: absolute;
	z-index: 2;
	top: 5px;
	left: 58px;
	text-align: center;
	width: 18px;
}

.no-thumbs.loop-link .comments {
	top: 20px;
	left: 10px;
}

.loop-link .comments span {
	color: white;
	z-index: 3;
	position: relative;
	font-size: 70%;
	font-weight: bold;
	vertical-align: -2px;
}

.loop-link .comments:after {
	content: "\f075";
	display: block;
	font: 30px 'FontAwesome', sans-serif;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 0;
}

.no-thumbs.loop-link .comments:after {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

/* Single */

.crumb-path {
	background-image: -webkit-gradient(radial, 50% 0%,0,50% 0%,400, to(rgba(0, 0, 0,0)), from(rgba(255, 255, 255, 0.50)));
	z-index: 2;
	text-align: left;
	opacity: .9;
}

.crumb-path p {
	font-size: 80%;
	padding: 6px 12px;
	margin: 0;
}

.crumb-path p span {
	display: inline-block;
	width: 65%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.landscape .crumb-path p span {
	width: 78%;
}

.ios7 .crumb-path {
	position: -webkit-sticky;
	top: 0px;
}

.sharing-options.style-default.share-top a {
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
}

.sharing-options .nav-controls {
	margin-bottom: -11px;
}

/* Posts Nav */

.nav-controls {
	background-color: rgba(0,0,0,.05);
	font-size: 90%;
	font-weight: bold;
	border-top: 1px solid rgba(0,0,0,.05);
	border-bottom: 1px solid rgba(0,0,0,.05);
	padding: 1em 10px;
	text-align: center;
	margin: -1px 0;
	color: rgba(0,0,0,.7);
}

.nav-controls div {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	float: left;
}

.nav-controls a:before {
	margin-right: 3px;
}

.nav-controls a {
	font-weight: normal;
	font-style: normal;
	display: block;
}

.nav-controls a.prev-post {
	padding-right: 8px;
}

.nav-controls .previous {
	text-align: left;
}

.nav-controls .next {
	text-align: right;
	float: right;
}

.nav-controls a:after {
	margin-left: 3px;
}

/* Posts / Pages */

.post-page-content {
	color: rgba(0,0,0,.7);
	font-size: 100%;
	line-height: 1.65;
	overflow: hidden;
	padding: 0 20px;
	margin-bottom: 20px;
}

.post-page-content table {
	margin-left: 20px;
	margin-right: 20px;
	max-width: 100%;
	overflow: scroll;
}

.post-page-content dl,
.post-page-content address {
	margin-left: 15px;
	margin-right: 15px;
}

.post-page-content ul,
.post-page-content ol {
	margin-left: 15px;
	margin-right: 15px;
	list-style-type: circle;
}

.post-page-content li {
	margin-left: 10;
	margin-right: 10;
	padding-right: 0;
	padding-left: 0;
}

.post-page-content > p, .post-page-content > div > p {
	padding: 0;
	overflow: hidden;
}

.wptouch-shortcode-webapp-mobile, .wptouch-shortcode-webapp-only, .wptouch-shortcode-webapp-only {
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	display: block;
}

.post-page-content p a, .comment-body a {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

.post-page-content .post-thumbnail {
	margin: 0;
	padding: 0;
	min-width: 100%;
	height: auto;
}

.post-date,
.post-date-comments,
.post-author {
	display: inline-block;
}

.post-page-head-area .post-date,
.post-page-head-area .post-date-comments,
.post-page-head-area .post-author {
	font-size: 80%;
	color: rgba(0,0,0,.5);
	margin: 0.5em auto;
}

.post-page-content .cat-tags {
	margin: 1em auto;
	padding: 0;
	font-size: 90%;
	text-align: left;
}

.post-page-head-area {
	text-align: center;
	padding: 0 20px;
	margin: 20px auto 0;
}

#content .post-page-head-area h2.post-title {
	color: rgba(0,0,0,.8);
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 10px;
	padding: 0;
}

.post-page-content blockquote {
	border-left: 3px solid rgba(0,0,0,.2);
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 10px;
}

.single div.cat-tags {
	padding: 0;
}

h2.post-title a {
	color: rgba(0,0,0,.8) !important;
}

.archive-text {
	font-size: 0.875em;
	text-transform: uppercase;
	color: rgba(0,0,0,.6);
}

.posts-nav {
	padding-top: 20px;
    padding-bottom: 20px;
}

.posts-nav a {
	padding: 0.5em 1em;
	color: #222;
	border: 2px solid #222;	
	display: inline-block;
	text-decoration: none;
}

/* Related Posts */

.related-posts {
	padding-top: 0;
	background-color: rgba(255,255,255,.5);
	padding: 15px;
	border-top: 1px solid rgba(0,0,0,.1);
	color: rgba(0,0,0,.7);
}

.related-posts ul li {
	position: relative;
	list-style-type: none;
	margin: 0 0 20px;
}

.related-posts h3 {
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.6em;
}

.related-posts li.has-thumb  p {
	margin-top: 5px;
	font-size: .9em;
}

.related-posts li.has-thumb  a, .related-posts .has-thumb p {
	padding-left: 60px;
	display: block;
}

.related-posts .has-thumb img {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 3px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 25px;
}

.rtl .related-posts img {
	left: 0;
}

/* Comments */

.no-com-bubbles #slider .comments-number, .no-com-bubbles .loop-link .comments {
	display: none;
}

#comments {
	color: rgba(0,0,0,.7);
	background-color: rgba(255,255,255,.3);
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 20px;
}

#responses,
#respond {
	margin: 0 auto 20px;
}

.comment-author, .comment-time, .comment-body {
	margin-left: 65px;
}

.comment-author {
	font-weight: bold;
	font-size: 95%;
}

.comment-time {
	font-size: 60%;
	color: rgba(0,0,0,.4);
}

#comments .comment-avatar {
	width: 54px;
	height: 54px;
	border-radius: 150px;
	border: 1px solid rgba(255,255,255,.5);
	float: left;
	right: 2px;
	position: relative;
	overflow: hidden;
}

#comments .comment-avatar img {
	width: 100%;
	height: auto;
}

.comment .comment-body {
	font-size: 90%;
	padding-bottom: 15px;
}

.comment .comment-body:after {
	content: '';
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.15);
	margin-left: -65px;
	margin-right: -15px;
}

#comments blockquote {
	margin-left: 0;
	padding-left: 10px;
}

#comments .load-more-comments-wrap a {
	font-size: 95%;
}

/* Comment form */

form#commentform input,
form#commentform textarea {
	-webkit-border-radius: 0;
	border-radius: 0;
	background-color: rgba(255,255,255,1);
}

form#commentform button#submit {
	border: none;
	font-weight: 400;
	font-size: 100%;
	background-color: transparent;
	color: #222;
	border: 2px solid #222;
	padding: 0.5em 1em;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/* Search */

.search span.select-wrap {
	display: block;
	margin-bottom: -20px;
	margin-top: 40px;
}

.search span.select-wrap .search-select {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	background-color: transparent;
	-webkit-appearance: none;
	padding: 4px;
	border-style: none;
	font-size: 100%;
}

.search span.select-wrap i.icon-caret-down {
	content: "\f063";
	font: 110% 'FontAwesome', sans-serif;
	position: relative;
	z-index: 2;
	top: 1px;
	right: 2px;
}

.no-results {
	text-align: center;
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
}

/* Login Fly-In */

.dark-post-head .wptouch-login-wrap,
.dark-post-head .wptouch-login-wrap a {
	color: rgba(255,255,255,.8);
	text-shadow: rgba(0,0,0,.2) 0 -1px 0;
}

.dark-post-head .wptouch-login-wrap #wp-submit {
	color: rgba(255,255,255,.8);
	border: 1px solid rgba(0,0,0,.2);
	background-color: rgba(0,0,0,.1);
}

/* Footer */

.load-more-link, .load-more-comments-wrap a {
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: normal;
	font-style: normal;
}

#switch {
	padding: 1em 0;
	margin: 0 15%;
}

#switch div {
	-webkit-border-radius: 0;
	border-radius: 0;
	height: 30px;
	line-height: 120%;
}

.page-wrapper .footer {
	margin-top: 25px;
	font-size: 60%;
}

.footer, a.back-to-top {
	font-size: 80%;
	color: rgba(0,0,0,.5);
	font-weight: normal;
	font-style: normal;
}

/* Circles */

.circles #slider img.clone {
	border-radius: 225px;
}

.circles .loop-link .date-circle {
	border-radius: 100px;
}

.landscape.circles #slider img.clone {
	width: 250px;
	height: 250px;
	border-radius: 225px;
	left: -30px;
	top: 12px;
}

.landscape.circles #slider .comments-number {
	left: 130px;
	top: 15px;
}

/* Round Squares */

.roundsquares #slider .comments-number {
	left: 85px;
	top: 0;
}

.roundsquares #slider img.clone {
	left: -85px;
	border-radius: 30px;
}

.landscape.roundsquares #slider img.clone {
	left: 0;
}

.landscape.roundsquares #slider .comments-number {
	left: 160px;
}

.roundsquares .loop-link .date-circle {
	border-radius: 14px;
}

.roundsquares .loop-link img.post-thumbnail, .roundsquares .related img.wp-post-image, .roundsquares .comment-avatar {
	border-radius: 14px;
}

/* Dark */

.dark-header #header a,
.dark-header #header h1,
.dark-header #header div {
	color: #fff;
	text-shadow: rgba(0,0,0,.2) 0px -1px 0px;
}

.dark-header #menu-toggle .button-toggle,
.dark-header #menu-toggle .button-toggle:before,
.dark-header #menu-toggle .button-toggle:after {
	background-color: #fff;
}

.dark-header #menu-toggle.touched .button-toggle,
.dark-header #menu-toggle.touched .button-toggle:before,
.dark-header #menu-toggle.touched .button-toggle:after {
	background-color: rgba(255,255,255,.3);
}

.dark-header #wptouch-search-inner input[type="submit"] {
	background-color: rgba(255,255,255,.8);
	color: rgba(0,0,0,.8);
}

.dark-header #search-dropper {
	border-bottom: 1px solid rgba(0,0,0,.12);
	border-top: 1px solid rgba(255,255,255,.06);
}

.dark-post-head form#commentform button#submit {
	background-color: transparent;
	color: rgba(255,255,255,0.8);
	border-color: rgba(255,255,255,0.8);
}

.dark-post-head .post-page-head-area h2.post-title, .dark-post-head .post-page-head-area select, .dark-post-head .post-page-head-area .archive-text {
	color: rgba(255,255,255,.9);
	text-shadow: rgba(0,0,0,.2) 0px -1px 0px;
}

.dark-post-head .post-page-head-area .post-date-comments, .dark-post-head .post-page-head-area .post-author {
	color: rgba(255,255,255,.6);
	text-shadow: rgba(0,0,0,.1) 0px -1px 0px;
}

.dark-body .nav-controls {
	color: rgba(255,255,255,.8);
	border-color: rgba(255,255,255,.2);
}

.dark-body h2.post-title a {
	color: rgba(255,255,255,1) !important;
}

.dark-body .archive-text {
	color: rgba(255,255,255,.8);
}

.dark-body .posts-nav a {
	color: rgba(255,255,255,0.8);
	border-color: rgba(255,255,255,0.8);
}

.dark-body .posts-loop .bottom-border {
	border-bottom: 1px solid rgba(255,255,255,.3);
}

.dark-body .loop-link .post-date-author {
	color: rgba(255,255,255,.4);
}

.dark-body .posts-loop .post,
.dark-body .post-page-content,
.dark-body .footer, .dark-body .back-to-top {
	color: rgba(255,255,255,.8);
}

.dark-body .posts-loop .post-date-author {
	color: rgba(255,255,255,.6);
}

.dark-body .loop-link .bottom-border {
	border-bottom: 1px solid rgba(255,255,255,.15);
}

.dark-body .sharing-options a {
	border-top-color: rgba(0,0,0,.1);
	border-bottom-color: rgba(0,0,0,.1);
	text-shadow: none;
}

.dark-body #comments {
	color: rgba(255,255,255,.7);
	background-color: rgba(255,255,255,.05);
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.dark-body .comment-time {
	color: rgba(255,255,255,.4);
}

.dark-body .comment .comment-body:after {
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.dark-body .comment-avatar {
	border: 1px solid rgba(0,0,0,.1);
}

.dark-body .related-posts {
	background-color: rgba(0,0,0,.2);
}

.dark-body .loop-link .date-circle {
	border-color: rgba(255,255,255,.2);
}

/* Web App Mode */

.ios7.web-app-mode.has-fixed header {
	position: -webkit-sticky;
	opacity: 0.97;
	padding-top: 20px;
	top: 0;
}

.ios7.web-app-mode .crumb-path {
	position: -webkit-sticky;
	top: 74px;
}

.ios7.smartphone.web-app-mode #menu {
	position: fixed;
	top: 74px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.ios7.web-app-mode #search-dropper {
	position: -webkit-sticky;
	top: 74px;
	z-index: 3;
}
